body {
    overflow: hidden;
    background-color: #e6e6e6;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction-gif {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction-gif img {
    width: 50vh;
    border-radius: 50%;
}

